<!-- https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/autolinked-references-and-urls -->
{{- $shortLink := .Get 0 -}}
{{- $urlToGet := "" -}}
{{- $buttonType := "" -}}
<!-- # identifies issues and pull requests, @ identifies commits, if neither it's a repo -->
{{- if (in $shortLink "#") -}}
    {{- $buttonType = "issue"}}
    {{- $repo := index (split $shortLink "#") 0 -}}
    {{- $issue := index (split $shortLink "#") 1 -}}
    <!-- https://docs.github.com/en/rest/issues/issues?apiVersion=2022-11-28#get-an-issue -->
    {{- $urlToGet = print "https://api.github.com/repos/" $repo "/issues/" $issue -}}
{{- else if (in $shortLink "@") -}}
    {{- $buttonType = "commit"}}
    {{- $repo := index (split $shortLink "@") 0 -}}
    {{- $ref := index (split $shortLink "@") 1 -}}
    <!-- https://docs.github.com/en/rest/commits/commits?apiVersion=2022-11-28#get-a-commit -->
    {{- $urlToGet = print "https://api.github.com/repos/" $repo "/commits/" $ref -}}
{{- else -}}
    {{- $buttonType = "repo"}}
    <!-- https://docs.github.com/en/rest/repos/repos?apiVersion=2022-11-28#get-a-repository -->
    {{- $repo := $shortLink -}}
    <!-- https://docs.github.com/en/rest/commits/commits?apiVersion=2022-11-28#get-a-commit -->
    {{- $urlToGet = print "https://api.github.com/repos/" $repo -}}
{{- end -}}
{{- with resources.GetRemote $urlToGet  -}}
	{{- if (resources.GetRemote $urlToGet).Err -}}
		<blockquote class="toot-blockquote">
			<p class="ctr legal">[Source not online<br />
			at time of site build.]</p>
		</blockquote>
	{{- else -}}
		{{- $json := unmarshal .Content -}}
		{{- $jsonHolder := $json -}}{{/* Being safe */}}
        {{- $link := ""}}
        {{- $icon := ""}}
        {{- $text := ""}}
        {{- if eq $buttonType "issue" -}}
            {{- $link = $json.html_url}}
            {{- if isset $json "pull_request"}}
                {{- if ($json.pull_request.merged_at) -}} <!-- merged and closed -->
                    {{- $icon = "octicon-git-merge"}}
                {{- else if ($json.closed_at)}} <!-- closed w/o merge -->
                    {{- $icon = "octicon-git-pull-request-closed"}}
                {{- else if $json.draft}} <!-- open draft -->
                    {{- $icon = "octicon-git-pull-request-draft"}}
                {{- else -}} <!-- open -->
                    {{- $icon = "octicon-git-pull-request"}}
                {{- end -}}
            {{- else -}}
                {{- if (eq $json.state "open") -}} <!-- open issue -->
                    {{- $icon = "octicon-issue-opened"}}
                {{- else -}}  <!-- closed issue -->
                    {{- $icon = "octicon-issue-closed"}}
                {{- end -}}
            {{- end -}}
<a class="github-button" href="{{- $link -}}" data-icon="{{- $icon -}}" data-size="small" data-text='{{- index (split $shortLink "/") 1  -}}: <span style="font-weight:normal">{{- $json.title -}}</span>'></a>
        {{- else if eq $buttonType "commit" -}}
            {{- $link := $json.html_url}}
            {{- $icon := "octicon-git-commit"}}
            {{- $repo := index (split $shortLink "@") 0 -}}
            {{- $ref := index (split $shortLink "@") 1 -}}
<a class="github-button" href="{{- $link -}}" data-icon="{{- $icon -}}" data-size="small" data-text='{{- index (split $repo "/") 1  -}}@{{- substr $ref 0 7 -}}: <span style="font-weight:normal">{{- $json.commit.message -}}</span>'></a>

        {{- else if eq $buttonType "repo" -}}
            {{- $link := $json.html_url}}
            {{- $icon := "octicon-repo"}}
<a class="github-button" href="{{- $link -}}" data-icon="{{- $icon -}}" data-size="small" data-text='{{- $shortLink -}}'></a>
    {{- end -}}
	{{- end -}}
{{- end -}}
