{{- $shortLink := .Get 0 -}}
<!-- # identifies issues and pull requests, @ identifies commits, if neither it's a repo -->
{{- $imgUrl := "" -}}
{{- $link := ""}}
{{- if (in $shortLink "#") -}}
    {{- $repo := index (split $shortLink "#") 0 -}}
    {{- $issue := index (split $shortLink "#") 1 -}}
    <!-- https://docs.github.com/en/rest/issues/issues?apiVersion=2022-11-28#get-an-issue -->
    {{- $urlToGet := print "https://api.github.com/repos/" $repo "/issues/" $issue -}}
    {{- with resources.GetRemote $urlToGet  -}}
        {{- $json := unmarshal .Content -}}
        {{- $jsonHolder := $json -}}{{/* Being safe */}}
        {{- $hash := sha256 $json.updated_at}}<!-- issues have a reliable update_at timestamp -->

        {{- if isset $json "pull_request"}}
            {{- $imgUrl = print "https://opengraph.githubassets.com/" $hash "/" $repo "/pull/" $issue -}}
        {{-  else -}}
            {{- $imgUrl = print "https://opengraph.githubassets.com/" $hash "/" $repo "/issues/" $issue -}}
        {{- end -}}
        {{- $link = $json.html_url}}
    {{- end -}}
{{- else if (in $shortLink "@") -}}
    {{- $repo := index (split $shortLink "@") 0 -}}
    {{- $ref := index (split $shortLink "@") 1 -}}
    {{- $hash := sha256 $ref}}<!-- commit cards never update -->

    {{- $link = print "https://github.com/" $repo "/commit/" $ref}}
    {{- $imgUrl = print "https://opengraph.githubassets.com/" $hash "/" $repo "/commit/" $ref -}}
{{- else if (in $shortLink "/") -}}
    {{- $repo := $shortLink -}}
    {{- $urlToGet := print "https://api.github.com/repos/" $repo -}}
    {{- with resources.GetRemote $urlToGet  -}}
        {{- $json := unmarshal .Content -}}
        {{- $jsonHolder := $json -}}{{/* Being safe */}}
        {{- $hash := sha256 .Content}}<!-- repos can change even if the updated_at timestamp is unchaned - e.g. if issue count changes -->
        {{- $link = print "https://github.com/" $repo }}
        {{- $imgUrl = print "https://opengraph.githubassets.com/" $hash "/" $repo  -}}
    {{- end -}}


{{- end -}}
{{ with resources.GetRemote $imgUrl }}
<center><a href="{{ $link }}"><img src="{{ .RelPermalink }}" width="50%" border="1px"></a></center>
{{ end }}
